@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }

  .outline-dash {
    @apply focus:outline-dashed outline-[3px] outline-offset-4 outline-lightgreen w-fit;
  }
}

@layer utilities {
  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }

  .main {
    @apply relative bg-black-100 justify-center items-center flex-col overflow-clip mx-auto sm:px-10 px-5;
  }

  .heading-h1 {
    @apply text-left text-6xl  xs:text-7xl small:text-[5.625rem] sm:text-8xl medium:text-[5rem] lg:text-[6.25rem] xl:text-[7.5rem] largesceen:text-9xl font-inter font-black leading-none w-full z-10 relative;
  }

  .heading-h2 {
    @apply mx-auto block w-full text-5xl 2xl:text-7xl font-prompt font-black bg-gradient-to-r text-center uppercase;
  }

  .heading-h2-span-mobile {
    @apply pr-2 relative z-10 bg-gradient-to-r from-gradient-light to-gradient-dark text-transparent bg-clip-text xl:hidden;
  }

  .heading-h2-span {
    @apply pr-2 relative z-10 hidden xl:block;
  }

  .github:hover {
    background-color: #181717 !important;
  }

  .linkedIn:hover {
    background-color: #0077b5 !important;
  }

  .about {
    @apply font-normal font-outfit text-xs xs:text-[0.8rem] small:text-base md:text-[0.813rem] lg:text-base desktop:text-lg 2xl:text-xl  text-slate-400 mb-4 relative z-50;
  }

  .about-span {
    @apply pr-5 w-[3.75rem]  md:w-[3.75rem] lg:w-[6.75rem] inline-flex;
  }

  .about-job {
    @apply font-outfit text-4xl text-purple mb-4 font-medium;
  }

  .about-offer {
    @apply font-poppins text-lg;
  }

  .wobblecard {
    @apply min-h-[20.625rem] xl:min-w-[21.875rem] max-small:w-[95%] max-sm:w-[90%] max-lg:w-[70%];
  }

  .tech-stack {
    @apply animate-shimmer transition-colors backdrop-blur-3xl bg-[length:200%_100%] bg-[linear-gradient(110deg,#000103,45%,#1e2631,55%,#000103)] max-small:w-[90%] small:w-44 lg:w-[8.438rem] xl:w-40 laptop:w-48  largesceen:w-[13.75rem] fourk:w-[15rem]  h-full rounded-xl flex flex-col items-center max-small:py-6 py-8;
  }

  .tech-stack_section {
    @apply grid grid-cols-2 sm:grid-cols-3 md:pl-8 lg:pl-0 gap-y-10 max-small:gap-4 small:gap-10 lg:gap-0 lg:grid-cols-6  w-full desktop:pl-14 largesceen:pl-20 sm:pl-0 small:pl-4  pl-8;
  }

  .aproach-icon {
    @apply text-center group-hover/canvas-card:-translate-y-4 absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] group-hover/canvas-card:opacity-0 transition duration-200 w-full  mx-auto flex items-center justify-center;
  }

  .aproach-title {
    @apply dark:text-white text-3xl opacity-0 group-hover/canvas-card:opacity-100 relative z-10 text-black mt-4  font-bold group-hover/canvas-card:text-white group-hover/canvas-card:-translate-y-2 transition duration-200 text-center;
  }

  .aproach-desc {
    @apply dark:text-white text-sm opacity-0 group-hover/canvas-card:opacity-100 relative z-10 text-black mt-4  font-bold group-hover/canvas-card:text-white group-hover/canvas-card:-translate-y-2 transition duration-200 text-center font-poppins;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #000319;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: #67e8f9;
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #67e8f9 #000319;
    border-radius: 3px;
  }
}

.mil-preloader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000319; /* Replace with $dark */

  .mil-preloader-animation {
    opacity: 0;
    position: relative;
    height: 100vh;
    color: #ffffff; /* Replace with $light */

    .mil-pos-abs {
      position: absolute;
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        opacity: 0;
        margin-right: 15px;
      }

      @media screen and (max-width: 992px) {
        flex-direction: column;

        p {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }

      .mil-reveal-frame {
        position: relative;
        padding: 0 30px;

        .mil-reveal-box {
          z-index: 4;
          position: absolute;
          opacity: 0;
          height: 100%;
          background-color: cyan; /* Replace with $accent */
        }
      }
    }
  }

  &.mil-hidden {
    pointer-events: none;
  }
}
